# ETC
.idea
**/.DS_Store
**/.version
**/node_modules
**/package-lock.json
app/build/bin
app/build/darwin/info.plist
app/frontend/package.json.md5
pkg/update/testarea
tools/bloggen/
tools/sitegen/sitegen
xbarapp.com/public/docs
xbarapp.com/public/docs/
xbarapp.com/version.gen.go
xbarapp.com/xbarappcom

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum
